.clients-list {
  display: flex;
  flex-wrap: wrap;
  @include tablet-2 {
    margin: -15px;
  }
}

.clients-list__item {
  width: calc((100% - 60px) / 2);

  @include tablet-2 {
    margin: 15px;
  }

  @include tablet {
    flex-basis: calc((100% - 90px) / 3);
  }

  @include desktop {
    flex-basis: calc((100% - 150px) / 6);

    &:not(:last-child) {
      margin-right: var(--card-set-gap);
    }
  }
}

.clients-list__link {
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--soc-net-icons);
  fill: var(--soc-net-icons);
  transition: fill var(--time-delay) var(--cubic),
    border var(--time-delay) var(--cubic);
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
  }
}
