.features.section {
  padding-bottom: 0;
}

.features-box {
  display: flex;
  width: 1170px;
  flex-wrap: wrap;
  .features-box__title {
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
  .features-box__text {
    line-height: 1.71;
    margin-top: 10px;
  }
}

.features-box__item {
  width: 270px;
  &:not(:last-child) {
    margin-right: var(--card-set-gap);
  }
}

.features-box__icon {
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  height: 120px;
  margin-top: 0px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
