.gallery-list {
  display: flex;
  margin-right: calc(-1 * var(--card-set-gap));
}

.gallery__title {
  padding-bottom: 50px;
}

.gallery-list__item {
  margin-right: var(--card-set-gap);
  flex-basis: calc((100% - 90px) / 3);
  position: relative;
  /* overflow: hidden; */
  & > .gallery-list__text {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
  }
}

.gallery-list__text {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
