.header {
  width: 100%;
  border-bottom: 1px solid #ececec;
}

.heder-nav {
  @include tablet {
    display: flex;
    align-items: center;
  }
  @include tablet-2 {
    justify-content: space-between;
  }
}

.heder-nav__logo {
  @include mobile {
    display: inline-flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @include tablet {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @include desktop {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
// ------------------site-menu------------------------

.menu-nav {
  @include mobile {
    display: none;
  }
  @include tablet {
    display: flex;
  }
  @include desktop {
    display: flex;
    margin-left: 93px;
  }
  .menu-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .link {
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: block;
    padding-top: var(--small-padding-gap);
    padding-bottom: var(--small-padding-gap);
    transition: color var(--time-delay) var(--cubic);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    &.current {
      color: var(--accent-color);
    }
  }

  .menu-nav__item {
    position: relative;
  }

  .current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background: currentColor;
    border-radius: 2px;
  }
}

/* ---------------Contacts-in header--------------------- */

.contacts-nav__item {
  @include tablet-2 {
    &:not(:last-child) {
      padding-bottom: 10px;
    }
  }
}

.contacts-nav {
  @include mobile {
    display: none;
  }

  @include tablet-2 {
    .link {
      color: inherit;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.02em;
      display: flex;
      align-items: center;
    }
  }

  @include desktop {
    display: flex;
    margin-left: auto;

    .contacts-nav__item + .contacts-nav__item {
      margin-left: 50px;
    }
    .link {
      color: inherit;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      display: inline-flex;
      padding-top: var(--small-padding-gap);
      padding-bottom: var(--small-padding-gap);
      align-items: center;

      transition: color var(--time-delay) var(--cubic);
      &:hover,
      &:focus {
        color: var(--accent-color);
      }
      &:hover .contacts-nav__icon,
      &:focus .contacts-nav__icon {
        fill: var(--accent-color);
      }
    }
  }
}

.contacts-nav__icon {
  fill: var(--primary-text-color);

  @include tablet {
    margin-right: 8px;
  }
  @include desktop {
    margin-right: 10px;
  }
}

// --------------------mob-menu-button-open--------------

.mob-menu__open-btn {
  @include mobile {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
    .mob-menu__open-icon & {
      display: inline-block;
      fill: #000000;
    }
  }
  @include tablet {
    display: none;
  }
}
// ------------------main-mob-menu------------------

.mob-menu {
  @include mobile {
    position: fixed;
    z-index: 1;
    background-color: var(--main-white-color);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    overflow-y: auto;
  }
  transition: transform var(--time-delay);

  @include tablet {
    display: none;
  }
}

.mob-menu__close-btn {
  position: absolute;
  display: block;
  margin-left: auto;
  top: 21px;
  right: 25px;
  width: 19px;
  height: 19px;
  background-color: var(--main-white-color);
  fill: currentColor;
  transition: fill var(--time-delay) var(--cubic);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  .mob-menu__close-icon & {
    display: inline-block;
    fill: currentColor;
    align-items: center;
  }
}

.mob-menu-nav__item:not(:last-child) {
  margin-bottom: var(--small-padding-gap);
}
.mob-menu-nav {
  .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    // transition: color var(--time-delay) var(--cubic);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    // &.current {
    //   color: var(--accent-color);
    // }
  }
}
.mob-menu-nav__item:last-child {
  margin-bottom: 300px;
}

.mob-contacts-nav__item {
  &:not(:last-child) {
    margin-bottom: var(--small-padding-gap);
  }
}

.mob-contacts-nav {
  .link {
    color: inherit;
    font-weight: 500;
    letter-spacing: 0.02em;
    display: inline-flex;
    // padding-top: var(--small-padding-gap);
    // padding-bottom: var(--small-padding-gap);
    align-items: center;

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    &:hover .contacts-nav__icon,
    &:focus .contacts-nav__icon {
      fill: var(--accent-color);
    }
  }
}
.mob-contacts-nav__item-tel {
  font-size: 34px;
  line-height: 1.18;
  padding-bottom: var(--small-padding-gap);
}
.mob-contacts-nav__item-email {
  font-size: 24px;
  line-height: 1.17;
}

.mob-soc-list {
  display: flex;
  padding-top: 64px;
}

.mob-soc-list__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-soc-list__item + .mob-soc-list__item {
  padding-left: 10px;
}

.mob-soc-list__link {
  color: var(--accent-color);
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}
.no-scroll {
  overflow: hidden;
}
