.join {
  width: 206px;
  padding-top: 72px;
  padding-bottom: 100px;
  display: block;
}

.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--main-white-color);
  margin-bottom: 20px;
  align-items: center;
  width: 145px;
}

.join-soc-list {
  display: flex;
  justify-content: center;
}

.join-soc-list__item + .join-soc-list__item {
  margin-left: 10px;
}

.join-soc-list__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--main-white-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--time-delay) var(--cubic),
    fill var(--time-delay) var(--cubic);
  &:hover,
  &:focus,
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
