.portfolio {
  @include mobile {
    margin-top: 40px;
  }

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1 * var(--card-set-gap));
    margin-bottom: calc(-1 * var(--card-set-gap));
    margin-top: 30px;
  }

  @include desktop {
    margin-top: 50px;
    margin-right: calc(-1 * var(--card-set-gap));
    margin-bottom: calc(-1 * var(--card-set-gap));
  }
}
.portfolio-card {
  display: flex;
  background: var(--main-white-color);
  transition: box-shadow var(--time-delay) var(--cubic);
  @include mobile {
    &:not(:last-child) {
      margin-bottom: var(--card-set-gap);
    }
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  @include tablet {
    flex-basis: calc((100% - 60px) / 2);
    margin-right: var(--card-set-gap);
    margin-bottom: var(--card-set-gap);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  @include desktop {
    flex-basis: calc((100% - 90px) / 3);
    margin-right: var(--card-set-gap);
    margin-bottom: var(--card-set-gap);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
}
/* .portfolio-img:nth-child(3n) {
  margin-right: 0;
}
.portfolio-img:nth-last-child(-n + 3) {
  margin-right: 0;
} */

.portfolio-card__wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-card__text {
  position: absolute;
  top: 0;
  background: rgba(33, 150, 243, 0.9);
  font-size: 15px;
  line-height: 1.6;
  color: var(--main-white-color);
  padding: 77px 24px;
  max-width: 450px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: auto; */
  transition: background var(--time-delay) var(--cubic);
  transform: translateY(101%);
  transition: transform var(--time-delay) linear;

  .portfolio-card__link:hover &,
  .portfolio-card__link:focus & {
    transform: translate(0);
  }
  @include desktop {
    padding: 63px 24px;
    font-size: 18px;
  }
}

.portfolio-card__link {
  display: flex;
  flex-direction: column;
}
.portfolio-card__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-card__item {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.portfolio-card__description {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
