.sign {
  @include tablet-2 {
    padding-bottom: 60px;
  }
  @include desktop {
    padding-top: 72px;
    padding-bottom: 94px;
    margin-left: auto;
  }
}

.sign__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-white-color);
  margin-bottom: 20px;

  @include tablet-2 {
    text-align: center;
  }
}
.sign-wrap {
  @include desktop {
    display: inline-flex;
  }
}

.sign-wrap__input {
  @include tablet-2 {
    width: 100%;
    max-width: 450px;
  }
  @include desktop {
    width: 100%;
    min-width: 358px;
  }
  margin: 0 auto;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  display: flex;
  align-items: center;
  color: var(--main-white-color);
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
  margin-bottom: 20px;
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

.sign-wrap__send-btn {
  padding-left: 29px;
  display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.sign-wrap__btn {
  width: 200px;
  position: relative;
  @include tablet-2 {
    margin: auto;
  }
  @include desktop {
    margin-left: 12px;
  }
}

.sign-wrap__icon {
  position: absolute;
  fill: var(--main-white-color);
  top: 13px;
  right: 29px;
}
