.modal {
  background-color: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--time-delay);

  @media screen and (min-width: 768px) {
    min-width: 528px;
    // height: 581px;
  }
  @media screen and (max-width: 1199px) {
    max-width: 450px;
    // height: 609px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-white-color);
  fill: currentColor;
  transition: fill var(--time-delay) var(--cubic);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  .modal__close-icon & {
    display: inline-block;
    width: 11px;
    height: 11px;
    fill: currentColor;
    align-items: center;
  }
}
