.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);

  @include desktop {
    font-size: 36px;
    line-height: 1.17;
  }

  @include tablet-2 {
    padding-bottom: 30px;
  }

  @include desktop {
    padding-bottom: 50px;
  }
}
