:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --second-accent-color: #188ce8;
  --main-white-color: #ffffff;
  --primary-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --soc-net-icons: #afb1b8;
  --card-set-gap: 30px;
  --padding-gap: 94px;
  --small-padding-gap: 32px;
  --time-delay: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
